@CHARSET "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css); 

*{
   margin:0;
   padding:0;
}
center div#mid{
   font-family:"Jeju Gothic",sans-serif;
   color: #3a3a3a;
   margin: 0 auto;
   width: 900px;
}
center h1{
   margin:50px 50px 50px 0px;
   text-align: left;
}
center hr{
   margin-top:50px;
   width:900px;
   border: 1px solid #ccc;
}
center{
   font-family:"Jeju Gothic",sans-serif;
   color: #3a3a3a;
}
center .category{
   width: 120px;
   height: 25px;
   
}
center .search{
   width: 960px;
   height:50px;
   margin: 50px 50px 50px 110px;
   border-radius: 5px 5px 0 0;
   text-align: left;
}
center .address a{
	font-size: 11px;
}
center .button{
   color: #6b6b6b;
   border: 1px solid #ccc;
   border-radius: .2em;
   padding: .25em .8em;
   margin: 10px 0;
   background-image: -webkit-gradient(linear, left top, left bottom, from(#fff),
      to(#f2f2f2));

}
center div.detail{
   height: 30px;

}
center div.add{
   height: 30px;
    font-size: 13px;
}
center table a{
   text-decoration: none;
   color: #3e3e3e;
   font-size: 13px;
}

[class*='boxStyle']{
   position: relative;
   width: 900px;
   margin: 0 auto;
   margin-bottom: 50px;
   padding: 70px 30px;
}
center .tableStyle{
   table-layout: fixed;
   position: relative;
   width: 100%;
   border-spacing: 0;
   border-bottom: 1px dotted #d2d2d2;
}
center tr{
   display: table-row;
   vertical-align: inherit;
   border-color: inherit;
   height: 30px;
}
center table#notice th{
   height: 30px;
   text-transform : capitalize;
   font-size: 14px;
   font-weight: bold;
   padding: 5px;
   border-bottom: 1px solid #d2d2d2;
   text-transform: capitalize;
}
center table#notice td:hover{
/*    cursor: pointer; */
   cursor: hand;
}
center table#notice td{
   padding: 5px 0;
   border-bottom: 1px dotted #c0c0c0;
}