body {  }
body, ul, ol, li, dl, dt, dd, p, h1, h2, h3, h3 { }
ul,ol,li { list-style:none; }
body, td, th, div, dt, dd, li, input, select, textarea { }
img {   }
ul, li { list-style:none; }
a {  } center a:link { color:#666; text-decoration:none; }	center  a:visited { color:#666; text-decoration:none; }center  a:active { color:#666; text-decoration:none; }center  a:hover { color:#666; text-decoration:underline; }
.none { display:none; }
.fl { float:left; } .fr { float:right; }
.c_b { clear:both; }
.tl_a { table-layout:auto; }
.tl_f { table-layout:fixed; }
.mg_a { margin:0 auto; }
.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden; } .clearfix { display:inline-block; }/* Hides from IE-mac \*/ *html .clearfix {height: 1%;} .clearfix {display: block;}/* End hide from IE-mac */
html { filter: expression(document.execCommand("BackgroundImageCache", false, true)); }
input.text { border:1px solid #D8D8D8; vertical-align:top; }
form { margin:0; padding:0; }
/*** common Layout ***/
#INTERPARK { width:980px; margin:0 auto; text-align:left; }
#INTERPARK .IP_cont_980 { clear:both; width:980px; }
.FOOTER { clear:both; width:100%; padding-top:30px; }
/*** mypage ***/
.fl { float:left; } .fr { float:right; }
.posR { position:relative; }
.posA { position:absolute; }
.dpB { display:block; }
.dpI { display:inline; }
.bgNo { background:none; }
.tal { text-align:left; }
.tar { text-align:right; }
.tac { text-align:center; }
.txt_bold { font-weight:bold; }
.txt_nor { font-weight:normal; }
.aCenter			{ text-align:center; }
input.chk			{ width: 13px; height: 13px; }
.pointer { cursor:pointer; }
.ls0 { letter-spacing:0; }
.ls_1 { letter-spacing:-1; }

.mgt_1 { margin-top:-1px; }
.mgt_2 { margin-top:-2px; }
.mgt_3 { margin-top:-3px; }
.mgt_4 { margin-top:-4px; }
.mgt_8 { margin-top:-8px; }
.mgt0 { margin-top:0px; }
.mgt1 { margin-top:1px; }
.mgt2 { margin-top:2px; }
.mgt3 { margin-top:3px; }
.mgt4 { margin-top:4px; }
.mgt5 { margin-top:5px; }
.mgt8 { margin-top:8px; }
.mgt10 { margin-top:10px; }
.mgt12 { margin-top:12px; }
.mgt15 { margin-top:15px; }
.mgt20 { margin-top:20px; }
.mgt25 { margin-top:25px; }
.mgt28 { margin-top:28px; }
.mgt30 { margin-top:30px; }
.mgt32 { margin-top:32px; }
.mgt40 { margin-top:40px; }
.mgl1 { margin-left:1px; }
.mgl4 { margin-left:4px; }
.mgl5 { margin-left:5px; }
.mgl6 { margin-left:6px; }
.mgl10 { margin-left:10px; }
.mgl15 { margin-left:15px; }
.mgl19 { margin-left:19px; }
.mgb_1 { margin-bottom:-1px; }
.mgb_2 { margin-bottom:-2px; }
.mgb0 { margin-bottom:0px; }
.mgb3 { margin-bottom:3px; }
.mgb4 { margin-bottom:4px; }
.mgb5 { margin-bottom:5px; }
.mgb8 { margin-bottom:8px; }
.mgb10 { margin-bottom:10px; }
.mgb15 { margin-bottom:15px; }
.mgb17 { margin-bottom:17px; }
.mgb20 { margin-bottom:20px; }
.mgb30 { margin-bottom:30px; }
.mgr5 { margin-right:5px; }
.mglr5 { margin-left:5px; margin-right:5px; }
.mgl10r10 { margin:0 10px; }

.pdt5 { padding-top:5px; }
.pdl0 { padding-left:0px; }

.bl_sz { width:14px; height:14px; } :root .bl_sz  { width:10px; height:10px; margin:0px; padding:0px; }
.bar { width:1px; height:9px; margin:0 10px 0 12px; background:url("https://sslimage.interpark.com/_mypage_n/img_bar.gif") no-repeat left 1px; } :root .bar { margin-right:10px; }
.txt_boldbl04 { padding-left:6px; background:url("https://sslimage.interpark.com/_mypage_n/bl/bl_square_gray.gif") no-repeat left 4px; }

.f11 { font-size:11px; }
.f12 { font-size:12px; }
.fr11 { color:#FF0000; font-size:11px; }
a:link.fr11, a:visited.fr11, a:active.fr11, a:hover.fr11 { color:#FF0000; font-size:11px; text-decoration:underline; }
a:link.fr11N, a:visited.fr11N, a:active.fr11N, a:hover.fr11N { color:#FF0000; font-size:11px; text-decoration:none; }
.c_red {color:#FF0000;}
.c_red1 {color:#FF0000;}
.c_gray {color:#9A9A9A;}
.link_accent02 { color:#959595; text-decoration:underline; }
a:link.link_accent02, a:visited.link_accent02, a:active.link_accent02, a:hover.link_accent02{ color:#959595; text-decoration:underline; }

a.btn_on img.on		{display:inline;}
a.btn_on img.off		{display:none;}
a.btn_off img.on		{display:none}
a.btn_off img.off		{display:inline}

.uLine1 { border-bottom:1px solid #BABABA;  }
.uLine2 { height:1px; background:#DEDEDE; font-size:0; line-height:0; }

.scllBox {
	scrollbar-face-color:#FFFFFF;
	scrollbar-shadow-color:#C3C3C3;
	scrollbar-highlight-color:#C3C3C3;
	scrollbar-3dlight-color:#FFFFFF;
	scrollbar-darkshadow-color:#F6F6F6;
	scrollbar-track-color:#F5F5F5;
	scrollbar-arrow-color:#C3C3C3;
}

.box_gray { padding:3px 0 0 4px; border:solid 1px #CCCCCC; color:#696969; font-size:11px; }

.centerWrap { position:absolute; top:50%; left:50%; width:100px; height:100px; background:skyblue; margin:-50px 0 0 -50px; }
.MPleft_area { float:left; width:181px; margin-right:14px; margin-top: 15px;}
.MPright_area { float:left; width:785px; margin-top: 15px;}

/* left info */
.myInfo { width:180px; height:227px; margin-bottom:12px; background:url("https://sslimage.interpark.com/_mypage_n/bg_mypage.gif") no-repeat; text-align:center; color:#565656; }
.myInfo h2 { height:73px; }
.myInfo h2 img { margin-top:15px; }
.myInfo p {  height:21px; margin:2px 0 0 0; }
.myInfo .da strong { color:#6C70D6; }
.myInfo .sa strong { color:#3190A7; }
.myInfo .go strong { color:#CC8532; }
.myInfo .si strong { color:#848484; }
.myInfo .da  .grade { position:relative; margin:-2px 2px 0 0; }
.myInfo .sa  .grade { position:relative; margin-top:-2px; }
.myInfo .go  .grade { position:relative; margin-top:-2px; }
.myInfo .si  .grade { position:relative; margin-top:-2px; }
.myInfo .btn { margin-bottom:10px; }
.myInfo .btn img { margin:0 2px; }
.myInfo .myPoint { width:164px; height:86px; margin:0 auto; padding-top:9px; background:url("https://sslimage.interpark.com/_mypage_n/bg_mypoint.gif") no-repeat; }
.myInfo .myPoint dl { clear:both; height:23px; margin:0 0 0 12px; }
.myInfo .myPoint dt { float:left; width:57px; background:url("https://sslimage.interpark.com/_mypage_n/icon/icon_arrow.gif") no-repeat right 3px; text-align:left; }
.myInfo .myPoint dd { float:left; width:85px; text-align:right; }

/*left menu*/
.myInfo_box	{ width: 180px; height: 285px; margin-bottom: 12px; text-align: left; overflow: auto; overflow: hidden; }
.MPleft_area .ml_box { clear:both; width:180px; background:url("https://sslimage.interpark.com/_mypage_n/bg_mlboxTop.gif") repeat-y left top; overflow:auto; overflow:hidden; }
.MPleft_area .ml_box_bot { width:180px; height:11px; margin-top:-1px; background:url("https://sslimage.interpark.com/_mypage_n/bg_mlboxBot.gif") no-repeat; font-size:1px; }
.MPleft_area .ml_box h3 { margin:15px 0 8px 18px; }
.MPleft_area .ml_box ul.list { padding-bottom:9px; background:url("https://sslimage.interpark.com/_mypage_n/bg_ml_box_list.gif") no-repeat left bottom; }
.MPleft_area .ml_box ul.list li { margin-left:11px; padding-left:6px; height:18px; background:url("https://sslimage.interpark.com/_mypage_n/bl/bl_square_gray.gif") no-repeat left 4px; color:#777777; letter-spacing:-1; font-size: 12px;}
.MPleft_area .ml_box ul.list li.on { color:#D93F44; }
.MPleft_area .ml_box ul.list li a:link, .MPleft_area .ml_box ul.list li a:visited, .MPleft_area .ml_box ul.list li a:active { text-decoration:none; color:#777777; }
.MPleft_area .ml_box ul.list li a:hover { text-decoration:underline; color:#D93F44;}
.MPleft_area .ml_box ul.list li.on a:link, .MPleft_area .ml_box ul.list li.on a:visited, .MPleft_area .ml_box ul.list li.on a:active { text-decoration:none; color:#D93F44; }
.MPleft_area .ml_box ul.list li.on a:hover { text-decoration:underline; color:#D93F44;}
.MPleft_area .ml_box ul.list li .icon_wel_n { margin:1px 0 0 4px; } :root .MPleft_area .ml_box ul.list li .icon_wel_n { margin:2px 0 0 4px; }
.MPleft_area .ml_box .my_mllist { width:178px; margin:1px 0 0 1px; padding-top:8px; background:#FBFBFB; }
.MPleft_area .ml_box .my_mllist li { width:143px; height:23px; margin-left:17px; background:url("https://sslimage.interpark.com/_mypage_n/bg_mlbotbox.gif"); }
.MPleft_area .ml_box .my_mllist li img { margin-top:6px; }
.MPleft_area .ml_box .my_mllist li a { display:block; width:143px; height:23px; }

/* right area */
.tab_famBox { width:785px; margin-bottom:20px; overflow:auto; overflow:hidden; }
.tab_fam { width:787px; height:36px; background:url("https://sslimage.interpark.com/_mypage_n/bg_tab_fam.gif") repeat-x left bottom; }
.tab_fam img { margin-right:2px;}

.MPright_area h3 { clear:both; width:785px; padding-left:12px; background:url("https://sslimage.interpark.com/_mypage_n/bl/bl_ts.gif") no-repeat left 4px; overflow:auto; overflow:hidden; } :root .MPright_area h3 { width:773px; }
.MPright_area h3.tit_expt { margin-bottom:0; padding:0; width:780px; background:url("https://sslimage.interpark.com/_mypage_n/bl/bl_ts.gif") no-repeat left 1px; }
.MPright_area h3 div.tit { float:left; }
.MPright_area h3 .txt { float:left; margin:3px 0 0 8px; font:normal 11px dotum; color:#9A9A9A; padding-left:8px; background:url("https://sslimage.interpark.com/_mypage_n/bg_h3_bar.gif") no-repeat left 1px; }
.MPright_area h3 .txt strong { color:#E27878; }
.MPright_area h3.title { height:26px; border-bottom:2px solid #DA6464; } 
.MPright_area .div_more { float:right; margin-top:3px; }
.MPright_area .div_btn_free { margin-top:-21px; width:780px; height:18px; text-align:right; font-size:1px; margin-bottom: 3px; }
.flash_listbuying { margin-bottom:30px; }

.MPright_area h4 { width:785px; text-align: left; padding-left:15px; margin-bottom:8px; background:url(https://sslimage.interpark.com/_mypage_n/bl/bl_ts2.gif) no-repeat left 2px;}
.MPright_area h4.title {  padding-bottom:8px; border-bottom:2px solid #9F9F9F; } 

/*box_caution*/
.box_caution { margin:11px 0 30px; background:#FBFBFB;} 
.box_caution .box_caution_list { padding:14px 8px 6px 15px;  }
.box_caution_list li { margin-bottom:5px; padding-left:6px; font-size:11px; line-height:1.4; color:#898989; background:url(https://sslimage.interpark.com/_mypage_n/bl/bl_square_gray.gif) no-repeat left 5px; }
.box_caution_list li.list2 { margin-bottom:3px; padding-left:6px; font-size:11px; line-height:1.4; color:#898989; background:url(https://sslimage.interpark.com/_mypage_n/bl/bl_square_gray.gif) no-repeat left 5px; }

.box_caution_tb { padding:9px 9px 7px 10px; }
.box_caution_tb li { margin-top:4px; padding-left:6px; line-height:1.3; color:#898989; font-size:11px; background:url(https://sslimage.interpark.com/_mypage_n/bl/bl_square_red.gif) no-repeat left 5px; }
.box_caution_tb2 { padding:9px 9px 7px 0; }
.box_caution_tb2 li { margin-top:4px; padding-left:6px; line-height:1.3; color:#898989; font-size:11px; background:url(https://sslimage.interpark.com/_mypage_n/bl/bl_square_red.gif) no-repeat left 5px; letter-spacing:-1; }
.box_caution_tb2 li.nr { letter-spacing:0; }
.box_caution_tb3 { padding:9px 9px 7px 10px; }
.box_caution_tb3 li { margin-top:4px; padding-left:6px; line-height:1.3; color:#898989; font-size:11px; background:url(https://sslimage.interpark.com/_mypage_n/bl/bl_square_gray.gif) no-repeat left 5px; }

/* 쩌챤횉횓횉첵횇횄 */
.shopping_benefit { margin-bottom:25px; overflow:auto; overflow:hidden; }
.shopping_benefit .coupon{ float:left; width:227px; margin-right:6px; background:url("https://sslimage.interpark.com/_mypage_n/bg_arrow.gif") no-repeat right 5px; }
.shopping_benefit .coupon p { margin-top:5px; }
.shopping_benefit .coupon p img { margin-left:5px; }
.shopping_benefit dl { float:left; background:url("https://sslimage.interpark.com/_mypage_n/bar.gif") no-repeat right 3px; text-align:center; }
.shopping_benefit dt { margin-bottom:5px; }
.shopping_benefit dl.ipoint { width:99px; }
.shopping_benefit dl.review { width:120px; }
.shopping_benefit dl.sale { width:101px; }
.shopping_benefit dl.freeDelivery { width:101px; }
.shopping_benefit dl.freeChange { width:123px; background:none; }

/* 횇횞�횑쨘챠 */
.tb_myPgThA			{ clear:both; border-top:1px solid #BABABA; border-bottom:1px solid #BABABA; }
.tb_myPgThA th			{ padding:10px 0 7px; color:#666; font:normal 11px Dotum; background:url("https://sslimage.interpark.com/_mypage_n/bg_bar.gif") no-repeat right center #F9F9F9; letter-spacing:-1; }
.tb_myPgThA th.border	{ padding:10px 0 7px; color:#666; font:normal 11px Dotum; background:url("https://sslimage.interpark.com/_mypage_n/bg_th_border.gif") repeat-x right bottom #F9F9F9; }
.tb_myPgThA th.border2	{ padding:10px 0 7px; color:#666; font:normal 11px Dotum; background:url("https://sslimage.interpark.com/_mypage_n/bg_th_border2.gif") repeat-x right bottom #F9F9F9; }
.tb_myPgThA th.border3	{ padding:10px 0 7px; color:#666; font:normal 11px Dotum; background:url("https://sslimage.interpark.com/_mypage_n/bg_th_border.gif") repeat-x left bottom #F9F9F9; }
.tb_myPgThA th.last  { background:url("") #F9F9F9; }

.tb_myPgThB			{ clear:both; border-top:2px solid #DA6464; border-bottom:1px solid #BABABA; }
.tb_myPgThB th			{ padding:10px 0 7px; color:#666; font:normal 11px Dotum; background:url("https://sslimage.interpark.com/_mypage_n/bg_bar.gif") no-repeat right center #F9F9F9; }
.tb_myPgThB th.border { padding:10px 0 7px; color:#666; font:normal 11px Dotum; background:url("https://sslimage.interpark.com/_mypage_n/bg_th_border.gif") repeat-x right bottom #F9F9F9;  }
.tb_myPgThB th.border2	{ padding:10px 0 7px; color:#666; font:normal 11px Dotum; background:url("https://sslimage.interpark.com/_mypage_n/bg_th_border2.gif") repeat-x right bottom #F9F9F9; }
.tb_myPgThB th.last  { background:url("") #F9F9F9; }

.tb_myPg01 				{ clear:both; border-collapse:collapse; table-layout:fixed; }
.tb_myPg01 td			{ padding:9px 0 5px; background:url("https://sslimage.interpark.com/_mypage_n/bg_td.gif") repeat-y right top; border-bottom:1px solid #DEDEDE; vertical-align:middle; font:normal 11px Dotum; }
.tb_myPg01 td.first			{ background:url("https://sslimage.interpark.com/_mypage_n/bg_th2.gif") no-repeat right top; }
.tb_myPg01 td.firstR			{ background:url("https://sslimage.interpark.com/_mypage_n/bg_th2.gif") no-repeat left top; }
.tb_myPg01 td.grade { font:normal 12px Dotum; }
.tb_myPg01 td.grade img { margin:-2px 0 0 70px; }
.tb_myPg01 td.grade img.grade { margin:-2px 0 0 28px; }
.tb_myPg01 td.mshop { padding:10px 0 4px; font:bold 12px dotum; }
.tb_myPg01 td.mshop div { float:left; width:165px; margin:0 5px 0 14px; display:inline; }
.tb_myPg01 td.mshop p { float:left; width:69px; margin-top:-3px; }
.tb_myPg01 td.ulist	{ padding-left:6px; background:url("https://sslimage.interpark.com/_mypage_n/bl/bl_square_red.gif") no-repeat left 15px; font-size:12px; }
.tb_myPg01 td.last { background:none; }
.tb_myPg01 td.bNone { border-bottom:none; }

.tb_myPg02 				{ clear:both; border-collapse:collapse; table-layout:fixed; }
.tb_myPg02 th.borderL { padding:10px 0 7px 19px; color:#666; border-right:1px solid #DEDEDE; border-bottom:1px solid #DEDEDE;  background:#F9F9F9; text-align:left; font-size:12px;  letter-spacing:-1; }
.tb_myPg02 th.borderL2 { padding:9px 0 5px 19px; color:#666; border-right:1px solid #DEDEDE; border-bottom:1px solid #DEDEDE;  background:#F9F9F9; text-align:left; font-size:12px;  letter-spacing:-1; }
.tb_myPg02 td			{ padding:3px 0 3px; background:url("https://sslimage.interpark.com/_mypage_n/bg_td.gif") repeat-y right top; border-bottom:1px solid #DEDEDE; vertical-align:middle; font:normal 11px Dotum; }
.tb_myPg02 td.first			{ background:url("https://sslimage.interpark.com/_mypage_n/bg_th2.gif") no-repeat right top; }
.tb_myPg02 td.firstR			{ background:url("https://sslimage.interpark.com/_mypage_n/bg_th2.gif") no-repeat left top; }
.tb_myPg02 td.list	{ padding:9px 0 6px; color:#696969; }
.tb_myPg02 td.list2	{ padding:9px 0 6px; color:#696969; font-size:12px; padding-left:10px; padding-right:10px; }
.tb_myPg02 td.list3	{ padding:10px 0 5px; }
.tb_myPg02 td.list4	{ padding:12px 0 9px; font-size:12px; padding-left:10px; padding-right:10px; }
.tb_myPg02 td.list5	{ padding:9px 0 5px; color:#696969; font-size:12px; padding-left:10px; padding-right:10px; }
.tb_myPg02 td.list6	{ padding:9px 0 6px; color:#696969; padding-left:9px; } 
.tb_myPg02 td.listL14 { padding:9px 0 6px; color:#696969; padding-left:14px; }
.tb_myPg02 td.listR14 { padding:9px 0 6px; color:#696969; padding-right:14px; text-align:right; }
.tb_myPg02 td.in		{ padding:3px 0 3px 10px; }
.tb_myPg02 td.last { background:none; }
.tb_myPg02 .prd_num { text-align:center;  }
.tb_myPg02 .prd_num a:link, .tb_myPg02 .prd_num a:visited, .tb_myPg02 .prd_num a:active, .tb_myPg02 .prd_num a:hover { text-decoration:underline; color:#959595; }
.tb_myPg02  td.prd_title { padding:9px 9px 7px 9px; font-size:12px; color:#696969; line-height:120%; }
.tb_myPg02  td.prd_title .txt_option { margin-top:3px; font-size:11px; color:#9A9A9A; line-height:110%; }
.tb_myPg02  td .btn { margin:1px 0; }

.tb_myPg03 				{ clear:both; border-collapse:collapse; border-top:1px solid #DEDEDE; table-layout:fixed; }
.tb_myPg03 th			{ padding:9px 0 5px; color:#666; font:normal 12px Dotum; background:#F9F9F9; border-bottom:1px solid #DEDEDE; border-right:1px solid #DEDEDE; letter-spacing:-1; background-color:#F7F7F7; font:12px dotum; text-align:left; }
.tb_myPg03 th span { padding-left:19px; }
.tb_myPg03 th span.nbsp2 { padding-left:14px; }
.tb_myPg03 th.ylw		{ background:#FFFDF7; font-weight:bold; }
.tb_myPg03 td			{ padding:9px 0 5px 10px; border-bottom:1px solid #DEDEDE; vertical-align:middle; font:normal 12px Dotum; color:#696969; }
.tb_myPg03 td.in		{ padding:3px 0 3px 10px; }
.tb_myPg03 td.in2 { padding:6px 0 6px 10px; }
.tb_myPg03 td.line	{ border-right:1px solid #DEDEDE; }
.tb_myPg03 td.ylw		{ background:#FFFDF7; }
.tb_myPg03 th.last, .tb_myPg03 td.last { border-bottom:1px solid #BABABA }

.tb_myPg04 th.tcon { padding:7px 0 4px; background-color:#F7F7F7; font:bold 11px dotum; color:#7D7D7D; }
.tb_myPg04 td.tcon { padding:7px 0 4px; background-color:#FFFFFF; line-height:1.3; font:normal 11px dotum; color:#898989; }
.tb_myPg04 td.tcon a.link_accent02 { color:#898989; text-decoration:underline; }
.tb_myPg04 td.tcon a.link_accent02:hover { color:#898989; text-decoration:underline; }
.tb_myPg04 td.icon_st img { margin-right:-3px; }
.tb_myPg04 td.sub_tit	{ color:#4C71BD; font-size: 11px; }

.tb_myPg05 th, .tb_myPg05 td  { border:none; background:none; }
.tb_myPg05  .photo img { border:1px solid #E1E1E1; }

/* 횈채�횑횂징 */
.paging10 {text-align:center; margin: 9px 0 0 0; font-family:쨉쨍쩔챵; }
.paging10	img	 { border: 0px; vertical-align: top; }
.paging10 .pageing_left		{ position:relative; top: 4px; padding: 4px 3px 2px 3px; }
.paging10 .pageing_right	{ position:relative; top: 4px; padding: 4px 3px 2px 6px; }
.paging10 .pageing_left_end	{ position:relative; top: 4px; padding: 4px 0px 2px 3px; }
.paging10 .pageing_right_end	{ position:relative; top: 4px; padding: 4px 5px 2px 0px; }
.paging10 .pageing_num { font-size:12px;  }
.paging10 .pageing_num a, .paging10 .pageing_num b { text-decoration:none; text-align:center; padding:4px 2px 1px 6px; border:1px solid #FFFFFF; margin-right: 2px; }

.paging10 .pageing_num b { color:#DE4D52; font-weight:bold; border: 1px solid #DE4D52; }
.paging10 .pageing_num a {font-weight:normal; color:#949494 !important; }
.paging10 .pageing_num a.last, .paging10 .pageing_num b.last { margin-right:4px; }
.paging10 .pageing_num a:hover { border:1px solid #DBDBDB; }
.paging10	{ table-layout: fixed; }
.paging10	.pageing_select	 { text-align: right; padding-right: 10px; font: normal 12px 쨉쨍쩔챵; color: #5A5A5A; letter-spacing: -1; padding-top: 5px; }
.paging10	.page_num	 { text-align: right; font: normal 12px 쨉쨍쩔챵; }
.paging10 table { margin-bottom: 0px; }
.paging10	td { font-size: 19px; height: 19px; }

/* 쨉쨉쩔챵쨍쨩 */
.helpboxLayer { position:absolute; z-index:1000; } 
.helpboxLayer th, .helpboxLayer td { margin:0px; padding:0px; border:0px; background:none; font-size:0px; line-height:0; }
.helpboxLayer .shp_lt		{ width:1px; height:2px; background:url("https://sslimage.interpark.com/_mypage_n/bg_cate_lt.gif") no-repeat; font-size:0px; line-height:0px; }
.helpboxLayer .shp_rt	{ width:2px; height:2px; background:url("https://sslimage.interpark.com/_mypage_n/bg_cate_rt.png") no-repeat; _background-image:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale', src='https://sslimage.interpark.com/_mypage_n/bg_cate_rt.png'); font-size:0px; line-height:0px; }
.helpboxLayer .shp_lb	{ width:1px; height:3px; background:url('https://sslimage.interpark.com/_mypage_n/bg_cate_lb.png') no-repeat; _background-image:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale', src='https://sslimage.interpark.com/_mypage_n/bg_cate_lb.png'); font-size:0px; line-height:0px; }
.helpboxLayer .shp_rb	{ width:2px; height:3px; background:url('https://sslimage.interpark.com/_mypage_n/bg_cate_rb.png') no-repeat; _background-image:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale', src='https://sslimage.interpark.com/_mypage_n/bg_cate_rb.png'); font-size:0px; line-height:0px; }

.helpboxLayer .top			{ height:2px; background:url("https://sslimage.interpark.com/_mypage_n/bg_cate_top.gif") repeat-x left top; }
.helpboxLayer .bot			{ height:3px; background:url('https://sslimage.interpark.com/_mypage_n/bg_cate_bot.png') repeat-x left bottom; _background-image:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale', src='https://sslimage.interpark.com/_mypage_n/bg_cate_bot.png'); } 
.helpboxLayer .left			{ width:1px; background:url('https://sslimage.interpark.com/_mypage_n/bg_cate_left.gif') repeat-y left top; }
.helpboxLayer .right		{ width:2px; background:url('https://sslimage.interpark.com/_mypage_n/bg_cate_right.png') repeat-y right top; _background-image:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale', src='https://sslimage.interpark.com/_mypage_n/bg_cate_right.png');}
.helpboxLayer .ctgList				{ margin-top:6px; background:#FFF; }
.helpboxLayer .ctgList td			{ width:148px; }
.helpboxLayer .ctgList td.last	{ width:125px; vertical-align:top; }
.helpboxLayer .ctgList ul			{ width:142px; margin-left:7px; }
.helpboxLayer .ctgList li	{ width:132px; margin-bottom:4px; padding-left:6px; overflow:auto; overflow:hidden; font-size:11px; letter-spacing:-1; }
.helpboxLayer .ctgList td.last ul	{ width:133px; }
.helpboxLayer .ctgList li a:link, .helpboxLayer .ctgList li a:visited	{ text-decoration:none; color:#6C6C6C; }
.helpboxLayer .ctgList li a:hover, .helpboxLayer .ctgList li a:active{ text-decoration:underline; color:#DB5171; }
.helpboxLayer .arrow			{ position:absolute; width:9px; height:5px; font-size:0px; line-height:0;  top:-4px; right:20px;  background:url('https://sslimage.interpark.com/_mypage_n/img_arrow.gif') no-repeat; }

.div_helpbox { background-color:#FFF;text-align:left; }
.div_helpbox dt.tit { padding:9px 0 6px 13px; background:url("https://sslimage.interpark.com/_mypage_n/bg_div_helpbox.gif") repeat-x left bottom; font:12px dotum; border-bottom:1px solid #EDEDED; color:#757575; font-weight:bold; }
.div_helpbox dd.con { padding:8px 17px 2px 11px; }
.div_helpbox dd.con li.sub_list { margin-bottom:3px; padding-left:7px; background:url(https://sslimage.interpark.com/_mypage_n/bl/bl_arrow_red.gif) no-repeat left 4px; color:#DA6464; line-height:1.3; font-size:12px; }
.div_helpbox dd.con li.sub_list p.title { margin-bottom:3px;  }
.div_helpbox dd.con li.sub_list p.txt { color:#8A8A8A; }
.div_helpbox dd.con li.sub2_list { margin-bottom:5px; padding-left:6px; background:url(https://sslimage.interpark.com/_mypage/bl/bl_square_gray.gif) no-repeat left 5px; color:#8A8A8A; line-height:1.3; font-size:12px; }

/* 쨀짧�횉 째체쩍횋쨍챰쨌횕 */
.interest_goods { width:785px; }
.interest_goods .tab { background:url("https://sslimage.interpark.com/_mypage_n/bg_interest_goods.gif") repeat-x left bottom; }
.interest_goods .tab img { margin-right:2px; cursor:pointer; }
.interest_goods_rolling { width:785px; margin-top:15px; }

.myListBox					{ position:relative; width:100%; height:132px; }
.myListBox_Sub			{ position:absolute; width: 100%; height:132px; left:0px; top:0px; overflow:hidden;  }
.myListBox_Sub_Pic	{ position:relative; }
.myListBox_Sub_Pic	ul.myList_roll	 { position:absolute; left:0px; width: 100%; }

.myList					{ clear:both; width:785px; margin:12px 0 0 0px; }
.myList	.wh_table	{ table-layout: fixed; }
.myList	.naviL		{ vertical-align: top; padding-top: 42px; text-align:left;  }
.myList	.naviR		{ vertical-align: top; padding-top: 42px; text-align:right; }
.myList	#myList_roll	{ width: 100%; height:62px; }
.myList	#myList_roll	li.roll	{ float:left; width: 145px; height:132px; text-align:left;  }
.myList	#myList_roll	li.roll .simg { width:132px; height:132px; }
.myList	#myList_roll	li.roll .simg img { width:130px; height:130px; border:1px solid #EEEEEE;  }

.myList_roll .over { position:absolute; width:132px; height:132px; background:url('https://sslimage.interpark.com/_mypage_n/goods_over.png') no-repeat;_background-image:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale', src='https://sslimage.interpark.com/_mypage_n/goods_over.png'); }
.myList_roll .sinfo { position:absolute; width:132px; height:66px; margin-top:66px; }
.myList_roll .sinfo .tit { width:106px; height:13px; margin:13px 0 1px 13px; color:#FFFFFF; font-size:11px; letter-spacing:-1; overflow:hidden; z-index:100; }
.myList_roll .sinfo .tit a:link, .myList_roll .sinfo .tit a:visited, .myList_roll .sinfo .tit a:active { text-decoration:none; color:#FFFFFF; font-size:11px; letter-spacing:-1; }
.myList_roll .sinfo .tit a:hover { text-decoration:underline; color:#FFFFFF; font-size:11px; letter-spacing:-1; }
.myList_roll .sinfo .price { margin-left:12px; color:#FFFFFF; font-size:11px; font-weight:bold; }
.myList_roll .sinfo .viewBox { clear:both; float:left; margin-top:9px; }
.myList_roll .sinfo .view { float:left; }
.myList_roll .sinfo .view img { margin-right:1px; }
.myList_roll .sinfo .viewOn { float:right; }
.myList_roll .sinfo .viewOn img { position:absolute; right:0; }

/* 횈횉쨍횇�횣 쨩처횉째쨘쨍짹창 */
.seller_layer				{ position:absolute; margin-top:21px; text-align:left; } :root .seller_layer	 { margin:21px 0 0 19px; }
.seller_layer	 table	{ width:100px; background:#F6BEBE; }
.seller_layer	 td		{ padding:5px 6px 2px; font-size:11px; color:#E38D8D; background:#FFFFFF; letter-spacing:-1; text-align:left; border-bottom:none; }
.seller_layer	 td a:link, .seller_layer	 td a:visited, .seller_layer	 td a:active	{ text-decoration:none; font-size:11px; color:#E38D8D; }
.seller_layer	 td a:hover	{ text-decoration:none; font-size:11px; color:#E38D8D; }

.tab_smoney { width:785px; height:28px; background:url("https://sslimage.interpark.com/_mypage_n/tab_smoney_01.gif") no-repeat left top; }
.tab_smoney .tab { float:left; }
.tab_smoney li { float:left; width:129px; height:28px; margin-left:1px; } :root .tab_smoney li { float:left; width:129px; height:28px; margin-left:2px; }
.tab_smoney li.first { float:left; width:130px; height:28px; margin-left:0px; } 
.tab_smoney li.tab_01on { background:url("https://sslimage.interpark.com/_mypage_n/tab_smoney_01_on.gif") no-repeat left top; }
.tab_smoney li.tab_02on { background:url("https://sslimage.interpark.com/_mypage_n/tab_smoney_01_on.gif") no-repeat -131px top; }
.tab_smoney li.tab_03on { background:url("https://sslimage.interpark.com/_mypage_n/tab_smoney_01_on.gif") no-repeat -262px top; }
.tab_smoney li.tab_04on { background:url("https://sslimage.interpark.com/_mypage_n/tab_smoney_01_on.gif") no-repeat -393px top; }
.tab_smoney li.tab_05on { background:url("https://sslimage.interpark.com/_mypage_n/tab_smoney_01_on.gif") no-repeat -524px top; }
.tab_smoney li.tab_06on { background:url("https://sslimage.interpark.com/_mypage_n/tab_smoney_01_on.gif") no-repeat -655px top; }
.tab_smoney li a { display:block; width:129px; height:28px; margin-left:1px; }
.tab_smoney li.first a { display:block; width:130px; height:28px; margin-left:0px; }

/* cmtbox */
.cmtbox { padding-top:8px; width:785px; background:url("https://sslimage.interpark.com/_mypage_n/bg_cmtbox01.gif") repeat-x left top #FBFBFB; }
.cmtbox_a { padding-top:8px; width:785px; background:url("https://sslimage.interpark.com/_mypage_n/bg_cmtbox01c.gif") repeat-x left top #FBFBFB; }
.cmtbox_bot { width:785px; height:4px; background:url("https://sslimage.interpark.com/_mypage_n/bg_cmtbox02.gif") repeat-x left top; font-size:0px; line-height:0px; }
.cmtbox2 { width:761px; padding:15px 0 9px 14px; background:url("https://sslimage.interpark.com/_mypage_n/bg_cmtbox01a.gif") repeat-x left top #F6F6F6; overflow:auto; overflow:hidden; } :root .cmtbox2 { width:747px; }
.cmtbox2_bot { width:761px; height:2px; background:url("https://sslimage.interpark.com/_mypage_n/bg_cmtbox02a.gif") repeat-x left top; font-size:0px; line-height:0px; } :root .cmtbox2_bot  { clear:both;  }
.cmtbox3 { padding-top:8px; width:785px; background:url("https://sslimage.interpark.com/_mypage_n/bg_cmtbox01b.gif") repeat-x left top #FBFBFB; }
.cmtbox3_bot { width:785px; height:4px; background:url("https://sslimage.interpark.com/_mypage_n/bg_cmtbox02b.gif") repeat-x left top; font-size:0px; line-height:0px; }
.tb_cmt { width:778px; table-layout:fixed; }
.tb_cmt th.item { width:74px; padding:4px 0 9px 16px; background:url("https://sslimage.interpark.com/_mypage_n/bl/bl_tri_red.gif") no-repeat right 7px; vertical-align:top; text-align:left; }
.tb_cmt td.con { padding:0px 0 0 18px;  vertical-align:baseline; }

/*box_helpbox*/
.box_hpbox_top { width:785px; height:10px; background:url("https://sslimage.interpark.com/_mypage_n/box_hpbox01.gif") no-repeat left top; font-size:1px; }
.box_hpbox_mid { padding:7px 12px 2px 12px; background:url("https://sslimage.interpark.com/_mypage_n/box_hpbox02.gif") repeat-y left top; }
.box_hpbox_bot { width:785px; height:10px; background:url("https://sslimage.interpark.com/_mypage_n/box_hpbox03.gif") no-repeat left top; font-size:1px; }
.box_hpbox_mid dl.hp_list dt { padding-left:8px; height:23px; background:url(https://sslimage.interpark.com/_mypage_n/bl/bl_gray.gif) no-repeat left 3px; }
.box_hpbox_mid ul.hp_list { width:750px; }
.box_hpbox_mid ul.hp_list li { float:left; margin-top:5px; padding-left:6px; width:744px; background:url(https://sslimage.interpark.com/_mypage_n/bl/bl_square_gray.gif) no-repeat left 5px; line-height:1.3; font-size:11px; color:#898989; }
.box_hpbox_mid ul.hp_list li a { font:11px dotum; color:#DA6464; text-decoration:underline; }
.box_hpbox_mid ul.hp_list li a:hover { font:11px dotum; color:#DA6464; text-decoration:underline; }
.box_hpbox_mid ul.hp_list li a.link_accent02 { font:11px dotum; color:#898989; text-decoration:underline; }
.box_hpbox_mid ul.hp_list li a.link_accent02:hover { font:11px dotum; color:#898989; text-decoration:underline; }
.box_hpbox_mid ul.hp_list li.first { margin-top:0; }
.box_hpbox_mid .dot_division { margin:15px 0 15px 0; width:750px; height:1px; background:url(https://sslimage.interpark.com/_mypage/dot_0301.gif) repeat-x left top; font-size:1px; }

/* 쨀짧�횉쩐횏쨍짼쩌짯쨘챰쩍쨘 */
.bg_smoney_number { width:761px; height:41px; margin-top:16px; padding-left:175px; background:url("https://sslimage.interpark.com/_mypage_n/bg_smoney_number.gif") no-repeat left top; }
.bg_smoney_number input { width:90px; margin:13px 17px 0 0; text-align:center; color:#D93F44; font-size:14px; font-weight:bold; border:none; }
.bg_smoney_number_bot {margin-top:14px; font-size:11px; text-align:center; color:#898989; }
.bg_smoney_number_bot .save { padding:13px 0 7px; }

.tab_mymsg_tmp { width:785px; height:28px; background:url("https://sslimage.interpark.com/_mypage_n/tab_my_msg01.gif") no-repeat left top; }
.tab_mymsg_tmp li { float:left; width:120px; height:28px; margin-right:2px; }
.tab_mymsg_tmp li.tab_01on { background:url("https://sslimage.interpark.com/_mypage_n/tab_my_msg01_on.gif") no-repeat left top; }
.tab_mymsg_tmp li.tab_02on { background:url("https://sslimage.interpark.com/_mypage_n/tab_my_msg01_on.gif") no-repeat -122px top; }
.tab_mymsg_tmp li a { display:block; width:120px; height:28px; }

/* 쨩처횉째쨍짰쨘채 */
.tab_mychar03 {  width:785px; height:28px; background:url("https://sslimage.interpark.com/_mypage_n/tab_mychar01.gif") no-repeat left top; }
.tab_mychar03 li { float:left; width:120px; height:28px; margin-right:2px; }
.tab_mychar03 li.tab_01on { background:url("https://sslimage.interpark.com/_mypage_n/tab_mychar01_on.gif") no-repeat left top; }
.tab_mychar03 li.tab_02on { background:url("https://sslimage.interpark.com/_mypage_n/tab_mychar01_on.gif") no-repeat -122px top; }
.tab_mychar03 li.tab_03on { background:url("https://sslimage.interpark.com/_mypage_n/tab_mychar01_on.gif") no-repeat -244px top; }
.tab_mychar03 li.tab_04on { background:url("https://sslimage.interpark.com/_mypage_n/tab_mychar01_on.gif") no-repeat -366px top; }
.tab_mychar03 li a { display:block; width:120px; height:28px; }

ul.tblist { overflow: auto; overflow: hidden; }
ul.tblist li { float:left; width:390px; padding:3px 0 3px; background:url("https://sslimage.interpark.com/_mypage_n/ln_division02.gif") no-repeat; font-weight:bold; text-align:center; color:#696969; }
ul.tblist li.first { background:none; color:#696969; }
ul.tblist li a:link, ul.tblist li a:visited, ul.tblist li a:active { text-decoration:none; color:#696969; }
ul.tblist li a:hover { text-decoration:none; color:#696969; }
ul.tblist li.on { font-weight:bold; color:#DA6464; }
ul.tblist li.on a:link, ul.tblist li.on a:visited, ul.tblist li.on a:active { text-decoration:none; color:#DA6464; }
ul.tblist li.on a:hover { text-decoration:none; color:#DA6464; }

/* 쨀짧�횉짹횤쨍챨�쩍 - 쨩처횉째횈챵View */
td.pdView_box	{ background:url("") #F7F7F7; padding: 10px; }
.pdView_box	.bg_pd_topbox	 { background: url('https://sslimage.interpark.com/_mypage_n/bg_pd_topbox.gif') no-repeat 0 0; width: 765px; height: 27px; padding-left:9px;  }
.pdView_box	.bg_pd_topbox td { background:url(""); border:none; }
.pdView_box	.pd_text	{ margin: 20px 5px 0 4px; }
.pdView_box	.pd_btn	{ float: right; margin-top: 25px; }
.pdView_box	.pd_btn .txt { position:relative; top:3px; color:#497DEF; font-size:11px; } 
.bbs_mod { margin:7px 2px 2px 0; text-align:right; }
.bbs_mod img { margin-left:3px; }
.replyInBox { width: 507px; margin:-4px 0 0 1px; }
.replyInBox .textarea_edit { width: 100%; height: 63px; border: 1px solid #E1E1E1; font: normal 12px 쨉쨍쩔챵; color: #666666; padding: 18px 14px; scrollbar-face-color:#D9D9D9; scrollbar-shadow-color:#C8C8C8; scrollbar-highlight-color:#D9D9D9; scrollbar-3dlight-color:#C8C8C8; scrollbar-darkshadow-color:#F6F6F6; 	scrollbar-track-color:#F6F6F6; scrollbar-arrow-color:#FAFAFA; }
.replyInBox .textUpdate { margin:5px 0 6px; }

.div_btnArea { width:785px; text-align:center; }

/* 횉횘�횓횆챠횈첫 쨉챤쨌횕횉횕짹창 */
.sale_coupon		{ background:url("https://sslimage.interpark.com/_mypage_n/bg_saleCoupon.gif") no-repeat; width: 785px; height: 80px; overflow: auto; overflow: hidden; margin-bottom: 20px; }
.sale_coupon	dl		{ margin: 15px 0 0 16px; width: 741px; }
.sale_coupon	dl	dt	 { float: left; width: 407px; }
.sale_coupon	dl	dd	 { float: left; padding-left: 17px }
.sale_coupon	.coupon_input		{ float: left; width: 196px; margin: 10px 0 0 0; }
.sale_coupon	.coupon_input		input		{ width: 189px; height: 28px; border: 1px solid #C0D8D8; font: bold 14px 쨉쨍쩔챵; color: #52AFB3; padding: 6px 5px 0 6px; }
.sale_coupon	.coupon_btn		{ float: left; margin-top: 9px; }
.sale_coupon	ul.ul_saleCoupon	{ width: 100%; overflow: auto; overflow: hidden; }
.sale_coupon	ul.ul_saleCoupon	li.tit	{ font: normal 12px 쨉쨍쩔챵; color: #666666; padding-left: 10px; padding-top:2px; line-height: 16px; }
.sale_coupon	ul.ul_saleCoupon	li.tit	img	{ margin-bottom: 5px; }

.tab_coupon { width:785px; height:28px; background:url(https://sslimage.interpark.com/_mypage_n/tab_coupon01.gif) no-repeat left top; }
.tab_coupon li { float:left; width:140px; height:28px; margin-right:2px; }
.tab_coupon li.first { float:left; width:120px; height:28px; }
.tab_coupon li.tab_01on { background:url(https://sslimage.interpark.com/_mypage_n/tab_coupon01_on.gif) no-repeat left top; }
.tab_coupon li.tab_02on { background:url(https://sslimage.interpark.com/_mypage_n/tab_coupon01_on.gif) no-repeat -122px top; }
.tab_coupon li a { display:block; width:140px; height:28px; }
.tab_coupon li.first a { display:block; width:120px; height:28px; }

/* 쨔짬쨌찼쨔챔쩌횤 횆챠횈첫 */
.tab_fcoupon { width:785px; height:28px; background:url(https://sslimage.interpark.com/_mypage_n/tab_coupon02.gif) no-repeat left top; }
.tab_fcoupon li { float:left; width:120px; height:28px; margin-right:2px; }
.tab_fcoupon li.tab_01on { background:url(https://sslimage.interpark.com/_mypage_n/tab_coupon02_on.gif) no-repeat left top; }
.tab_fcoupon li.tab_02on { background:url(https://sslimage.interpark.com/_mypage_n/tab_coupon02_on.gif) no-repeat -122px top; }
.tab_fcoupon li a { display:block; width:120px; height:28px; }

.table_line		 { border:1px solid #dedede; border-collapse:collapse; margin:7px 0; }
.table_line	th	 { border:1px solid #dedede; padding:9px 0 6px; font:normal 11px Dotum; color:#777777; background:#fbfbfb; text-align:center; letter-spacing:-1px;  }
.table_line	td	 { border:1px solid #dedede; padding:6px 5px 2px 5px; font:normal 11px Dotum; color:#777777; vertical-align:middle; line-height:15px; letter-spacing:-1px; }
.table_line	td.txt { padding:6px 0px 2px;text-align:center; }

/* 20130524 */
.mypage_subscription {height:243px;margin-bottom:150px;border:4px solid #e6e6e6;padding:92px 0 0px 0;line-height:25px;text-align:center}
*html .mypage_subscription {height:335px}
.mypage_subscription p {margin-bottom:5px;font:bold 15px dotum}
.mypage_subscription .button {clear:both;margin-top:36px}
.mypage_subscription .button a {margin:0 5px;}
.mypage_subscription .subscription_end {margin-top:33px;font-weight:bold}

/* 151201 쩌철횁짚 S */
.tb_myPg03 td.mkt {clear:both; padding:0; margin:0; border-bottom:0;}
.f11L {font-size:11px; line-height:13px;}
.mkt_t {clear:both; margin:0; padding:0;}
.mkt_t .tdline1 {border-right:1px solid #dcdcdc; border-bottom:1px solid #dcdcdc;}
.mkt_t .tdline2 {border-bottom:1px solid #dcdcdc;}
.mkt_t .tdline3 {border-right:1px solid #dcdcdc;}
.mkt_t .plr10 {padding:3px 10px;}
.mkt_t .tc {text-align:center;}
.mkt_t .info_txt {padding: 8px 10px 8px 10px; font:normal 11px Dotum; line-height:14px;}
/* 151201 쩌철횁짚 E */
