@CHARSET "UTF-8";

/* 공통 css */
body{
    text-align: center;   
}
*{
    padding: 0px;
    margin: 0px;      
}

header {
   min-width:1000px;
}

.clear {clear: both;}


/* 회원 메뉴바 */
#member_menu_1{
    width:100%;
    height: 20px;
    background-color: white;   
    padding-top: 5px;   
    border-bottom: 1px solid #c0c0c0;  
    margin:0 auto;
}
#member_menu_2{
    height: 20px;
    width: 950px;
    margin:0 auto;    
}
#member_menu_2 ul{
   
}
#member_menu_2 ul li{
    list-style-type: none;
    display:inline;
    margin: 0 5px;
   float:right;
}
#member_menu_2 ul li a{
    text-decoration: none;
    font-size: 11px;
    color: #808080;  /*8.7 pm 15:33*/
    margin:0 auto;
}
#member_menu_2 ul li a:HOVER{
      text-decoration: none;
   
}
#member_menu_2 ul li a:VISITED{
      color: #808080; /*8.7 pm 15:33*/   
}

/* 가운데 로고, 검색, 이미지 */
#search_bar{      
    width: 1000px;
    height: 100px;
    display: inline-block;
    position: relative;
    padding: 0 auto;
}
/* 로고 */
#search_bar1{
   position:absolute;
   display:inline-block;
   left:30px;
   top:20px;

}
#search_bar1:HOVER{
   cursor: pointer;   
}
.fontColor{
   color: #ff7c2c;   
}
/* 검색 상자 */
#search_bar2{
   position: absolute;
   display: inline-block;
   width: 400px;
   border: 1px solid #ff7c2c;
   background: #fffff;
   align-content: center;
   left: 260px;
   top: 35px;
}
/* 검색어 텍스트 넣는 곳 */
#search_bar2_1{
   /* 11 0 0 9 */
   position:relative;
   left: -43px;
   bottom: 2px;
    margin: 7px 0 0 0px;
    padding:0;
    width: 290px;
    height: 30px;
    outline: 0;
    border: 0;
    background-color: transparent;
    color: #000;
    font-weight: 500;
    font-size: 15px;
/*     line-height: 20px; */
}
#search_bar2_2{ /* 서치(돋보기) 아이콘 */
    position: absolute;
    overflow: visible;
    width: 32px;
    left:625px;
    top:40px; 
    
}
#search_bar2_2:HOVER{
   cursor: pointer;
}
#search_bar3{
   
}
#search_bar2_3{ /* 배너 */
   position: absolute;
   top:10px;
   left:700px;
}

/* 메뉴바 */
#menu_bar_1{
    width: 100%;
    height: 34px;
    /* 8.7 pm 15:33 */
    background: #fc4a1a;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #FBB642, #F92A4B);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #FBB642, #F92A4B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin:0 auto;
    position:relative;
}
#menu_bar_2{   
    height: 34px;
    width: 1000px;
    margin:0 auto;
}
#menu_bar_2 ul{
   margin-left: 20px;
}
#menu_bar_2 ul li{
    top: 9px; /* 8.7 pm 15:33 */
    list-style-type: none;
    display: inline;
    position: relative;
    padding: 9px 48px 7px 48px; /* 8.7 pm 15:33 */
}
#menu_bar_2 ul li:hover{
   background: #f0403c;
   cursor:pointer;
}
#mo_recommand img,#mu_recommand img{
   
   width: 90px;
   height: 120px;
   margin: 15px 7px 0px 0px;
}

#mo_recommand h5, #mu_recommand h5{
   float: left;
   width: 40px;
   height: 35px;
   margin: 50px 0px 0px 15px;
   text-align: left;
}

#menu_bar_2 ul li a{
    text-decoration: none;
    font-size: 16px;
    color: white;    
}
/* 드롭다운 설정 */
#movie_drop, #musical_drop{
   position: absolute;
   display:none;
   z-index: 1;
   width: 650px;
   height: 350px;
   background-color: #ffffff;
   left:32.15%; /* 32.15붙여야 맞음 */
   top:34px;
   /* 8.7 pm 15:33 */
   -moz-box-shadow:#585858 0px 0px 1px; /* 그림자 추가 */
   -webkit-box-shadow:#585858 0px 0px 1px; 
   box-shadow:#585858 0px 0px 1px; 
}
#movie_drop div, #musical_drop div{
   position: absolute;
   display:block;
   float: left;   
}
#movie_drop div ul,#musical_drop div ul{
   list-style-type: none;
   
}
#movie_drop div ul li, #musical_drop div ul li{
   margin: 20px 0px 10px 0px;
   width: 130px;
   text-align: left;   
   padding-left: 35px;
}
#movie_drop div ul a,#musical_drop div ul a{
   text-decoration: none;
   color: #808080;   
   font-size: 13px;
}
#movie_drop div ul a:hover, #musical_drop div ul a:HOVER{
   color: #f0403c;
   font-weight: bold;
}
#movie_drop p, #musical_drop p{
   text-align:left;
   width: 130px;
   font-size: 20px;
   color: #f0403c;
   border-bottom: 1px solid #ee1f1a;
   padding:25px 0px 5px 0px;
   margin: 0px 0px 10px 35px;
}

#movie_drop div:NTH-OF-TYPE(1),#musical_drop div:NTH-OF-TYPE(1) {      
   border-right: 1px solid #dddddd;
}

#movie_drop div:NTH-OF-TYPE(2),#musical_drop div:NTH-OF-TYPE(2) {
   left:201px;   
}

#movie_drop div:NTH-OF-TYPE(4),#musical_drop div:NTH-OF-TYPE(4)  {
   left:201px; top :134px ;   
   border-top: 1px solid #dddddd;
}