<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>TeamProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>Connection</description>
    <res-ref-name>jdbc/Ticketlion</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  
  <servlet>
    <servlet-name>MovieFrontController</servlet-name>
    <servlet-class>team.movie.action.MovieFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MovieFrontController</servlet-name>
    <url-pattern>*.mo</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>MusicalFrontController</servlet-name>
    <servlet-class>team.musical.action.MusicalFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MusicalFrontController</servlet-name>
    <url-pattern>*.mu</url-pattern>
  </servlet-mapping>
  
 
  
  <servlet>
    <servlet-name>ReviewFrontController</servlet-name>
    <servlet-class>team.review.action.ReviewFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewFrontController</servlet-name>
    <url-pattern>*.rv</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>MemberFrontController</servlet-name>
    <servlet-class>team.member.action.MemberFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberFrontController</servlet-name>
    <url-pattern>*.me</url-pattern>
  </servlet-mapping>
  
  <servlet>
		<servlet-name>BoardFrontController</servlet-name>
		<servlet-class>team.board.action.BoardFrontController</servlet-class>
	</servlet>  
  	<servlet-mapping>
  		<servlet-name>BoardFrontController</servlet-name>
  		<url-pattern>*.bo</url-pattern>
  	</servlet-mapping>

 	 <servlet>
		<servlet-name>ReBoardFrontController</servlet-name>
		<servlet-class>team.reboard.action.ReBoardFrontController</servlet-class>
	</servlet>  
  	<servlet-mapping>
  		<servlet-name>ReBoardFrontController</servlet-name>
  		<url-pattern>*.rbo</url-pattern>
  	</servlet-mapping>
  	
  	
  	<servlet>
		<servlet-name>adBoardFrontController</servlet-name>
		<servlet-class>team.adboard.action.adBoardFrontController</servlet-class>
	</servlet>  
  	<servlet-mapping>
  		<servlet-name>adBoardFrontController</servlet-name>
  		<url-pattern>*.abo</url-pattern>
  	</servlet-mapping>
  	
   <servlet>
    <servlet-name>faqFrontController</servlet-name>
    <servlet-class>team.faqboard.action.faqFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>faqFrontController</servlet-name>
    <url-pattern>*.fa</url-pattern>
  </servlet-mapping>
  
    
<servlet>
    <servlet-name>PlaceFrontController</servlet-name>
    <servlet-class>team.place.action.PlaceFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlaceFrontController</servlet-name>
    <url-pattern>*.pl</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
    <servlet-name>PlayingFrontController</servlet-name>
    <servlet-class>team.playing.action.PlayingFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlayingFrontController</servlet-name>
    <url-pattern>*.pg</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>ReservationFrontController</servlet-name>
    <servlet-class>team.reservation.action.ReservationFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReservationFrontController</servlet-name>
    <url-pattern>*.rs</url-pattern>
  </servlet-mapping>

  
  
  
</web-app>